html {
  font-family: HelveticaNeue-Medium,"Helvetica Neue Medium","Helvetica Neue",Helvetica,Arial,sans-serif
}

.wallet-div {
  height: 20vh;
  background-color: #2ecc71;
  color: #eee;
  font-size: 4em;
  text-align: center;
}

#wallet {

}

/*main row*/
.container {
  width: 100%;
  height: 30vh;
  background-color: #8e44ad;
  padding: 8em;
}

/*col 1*/
.guess {
  width: 33%;
  display: inline-block;
}

/*col 2*/
.buttons {
 width: 33%;
 display: inline-block;
}

/*col 3*/
.bet {
  width: 33%;
  display: inline-block;
}

.output-text {
  height: 50vh;
  font-size: 2em;
  background-color: #8e44ad;
  text-align: center;
}

input {
  background-color: #f1c40f;
  margin: 0;
  display: block;
  border: 0;
  width: 200px;
  height: 200px;
  border-radius: 100%; 
  color: #fff;
  outline: 0;
  text-align: center;
  font-size: 48px;
}

button {
  background-color: #f1c40f;
  margin: 0;
  display: inline;
  border: 0;
  width: 100px;
  height: 100px;
  border-radius: 40px; 
  color: #fff;
  outline: 0;
  text-align: center;
  font-size: 48px;
}


